Source: bunsen-yaru-gtk
Section: x11
Priority: optional
Maintainer: hhh <hsumen@bunsenlabs.org>
Build-Depends: debhelper-compat (= 13), libglib2.0-dev, meson (>= 1.4), libxml2-utils, sassc
Standards-Version: 4.6.1
Rules-Requires-Root: no
Homepage: https://github.com/bunsenlabs/bunsen-yaru-gtk
Vcs-Browser: https://github.com/bunsenlabs/bunsen-yaru-gtk
Vcs-Git: https://github.com/BunsenLabs/bunsen-yaru-gtk.git

Package: bunsen-yaru-gtk
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, gtk2-engines-pixbuf, gtk2-engines-murrine, libglib2.0-bin
Recommends: gnome-themes-extra
Description: Yaru GTK theme from the Ubuntu Community
 This is the theme, better than a burrito, that is shaped by the community
 on the Ubuntu discourse.
 .
 This package contains the GTK+ 2 and 3 theme parts
 .
 If you want to follow development, more information here:
 https://community.ubuntu.com/c/desktop/theme-refresh.
 .
 Openbox and xfce4-notifyd themes added by hhh <hsumen@bunsenlabs.org>
 for use in BL carbon.
